<div class="card">
  <a href="{{mainLink}}" target="_blank">
    <h5 class="card-title">{{name}}</h5>
  </a>
  <p class="card-text">{{description}}</p>
  <a class="d-block" href="{{link1}}" target="_blank">{{link1}}</a>
  <a class="d-block" href="{{link2}}" target="_blank">{{link2}}</a>
  <a class="d-block" href="{{link3}}" target="_blank">{{link3}}</a>
  <p class="card-text">{{additional}}</p>
</div>
