<li class="list-group-item">
  <a href="{{ eventlink }}" target="_blank">
    <p class="h5">
      <img src="{{ dayicon }}" />
      {{ name }}
    </p>
    <small class="text-muted">{{ date }} - {{ time }}</small>
  </a>
</li>