<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-7">
        <h1>Kurse &amp; Lernbegleitung</h1>
        <p>Unser Lernangebot</p>
      </div>
      <div class="col-12 col-sm-5 align-self-center">
        <img src="img/logo.png" class="img-fluid rounded-circle" alt="Lernwerkstatt Logo">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {{#each courses}}
    <div class="col-sm">
      <a href="{{furtherLink}}" target="_blank">
        <img src={{img}} alt={{name}} style="height: 200px">
      </a>
      <p class="lead" style="width: 400px">{{name}}</p>
      <p class="text" style="width: 400px">{{header}}</p>
      <p class="text" style="width: 400px">{{description}}</p>
      <p class="text" style="width: 400px">{{additional}}</p>
      <p class="text" style="width: 400px">{{time}}</p>
      <br>
    </div>
    {{/each}}
  </div>
</div>
