<div class="content">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-7">
          <h1>Workshops &amp; mehr</h1>
        </div>
        <div class="col-12 col-sm-5 align-self-center">
          <img src="https://res.cloudinary.com/hrscywv4p/image/upload/c_fill,fl_lossy,h_200,w_200,f_auto,g_faces:auto,q_auto/v1/253787/6b3c1ba6-333a-4dfb-80b1-686bd4b9e0db_s4dlam.png"
            class="img-fluid rounded-circle" alt="Lernwerkstatt Logo">
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="card-columns">
      {{#each workshops}}
      <div class="card">
        <a href="{{link1}}" target="_blank">
          <h5 class="card-title">{{name}}</h5>
        </a>
        <p class="card-text">{{description}}</p>
        <a class="workshops-links" href={{link2}} target="_blank">{{link2}}</a>
        <a class="workshops-links" href={{link3}} target="_blank">{{link3}}</a>
        <a class="workshops-links" href={{link4}} target="_blank">{{link4}}</a>
        <p class="card-text">{{additional}}</p>
      </div>
      {{/each}}
    </div>
    <br>
    <p class="lead">Vergangene Veranstaltungen (bei Interesse an einem dieser Themen, tragt euch in den Newsletter ganz
      unten auf der Seite ein oder schreibt uns eine E-Mail):</p>
    <p class="text">Tag der offenen Lernwerkstatt, Deutsche Geb채rdensprache, Wie erstelle ich eine eigene Website?,
      Netzwerke (in der Natur), Stop-Motion Film, Russisch &amp; mehr, Visuelle Notizen, Mathe x Zeit, Mathe x Kunst,
      Biomimikry, Entrepreneure (Vortrag), Programmieren, Nat체rlich lernen (Vortrag und Gespr채ch mit Stefanie
      Mohsennia), Art Journaling Workshop</p>
    <p class="text">Weitere Workshops werden laufend hier und auf unserer <a href="https://www.facebook.com/dielernwerkstatt"
        target="_blank">Facebook-Seite</a> angek체ndigt. </p>
    <p class="lead">Wenn du selbst einen Workshop bei uns halten willst, schreib uns!</p>
  </div>
</div>
