<div class="d-block-flex" style="flex-direction:column">
  <img src="{{ imagelink }}" alt="{{ title }}" class="img-blog">
  <a class="text-decoration-none" href="/blogs/{{ _id }}">
    <h3>{{ title }}</h3>
    <div class="mb-3 text-dark">
      <p>{{ date }} - {{ author }}</p>
    </div>
    <div class="mb-5 blog-content text-dark">
      {{{ content }}}
    </div>
  </a>
</div>
