<div class="d-block-flex" style="flex-direction:column">
  <img src="{{ imagelink }}" alt="{{ title }}" class="img-blog">
  <a href="/blogs/{{ _id }}">
    <h3>{{ title }}</h3>
  </a>
  <div class="mb-3">
    <p>{{ date }} - {{ author }}</p>
  </div>
  <div class="mb-5" style="text-overflow:ellipsis; overflow:hidden; height: 4.3em;">
    {{{ content }}}
  </div>
</div>
