<div class="card mt-5 mb-5">
  <img class="card-img-top" src="{{ imagelink }}" alt="{{ title }}">
  <div class="card-body">
    <h2 class="card-title">{{ title }}</h5>
      <p class="card-text"><small class="text-muted">{{ author }}, {{ date }}</small></p>
  </div>
</div>
