<div class="col-xs-8 col-md-6 col-lg-4">
  <div class="card mt-3 mb-5" style="height: 22rem; max-width: 100%">
    <img class="card-img-top" loading="lazy" style="height: 14rem; object-fit: cover;" src="{{ imagelink }}"
      alt="{{ title }}">
    <div class="card-body">
      <h2 class="card-title" style="overflow-wrap: normal"><a href="/blogs/{{ id }}">{{ title }}</a></h2>
      <p class="card-text"><small>{{ author }}, {{ date }}</small></p>
    </div>
  </div>
</div>
