<div class="col overflow-auto">
  <div class="d-flex justify-content-center">
    <article class="col-xs-12 col-md-10 col-lg-8 mt-3 mb-5 mx-3">
      <img src="{{ imagelink }}" loading="lazy" alt="{{ title }}" class="img-fluid w-100 mb-5"
        style="max-height: 16rem; object-fit: cover;">
      <h2 style="overflow-wrap: normal">{{ title }}</h2>
      <p><small>{{ author }}, {{ date }}</small></p>
      {{{ content }}}
    </article>
  </div>
</div>
