{{#section "head"}}
<title>{{{__ "contact_title"}}} – {{{__ "common_title"}}}</title>
{{/section}}

{{#section "title"}}
<div class="container my-4">
  <div class="row">
    <div class="col border-bottom">
      <h1 class="h1">{{{__ "contact_title"}}}</h1>
    </div>
  </div>
</div>
{{/section}}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>{{{__ "contactmap_title"}}}</h2>
      <address>
        Die Lernwerkstatt - lernen &amp; lernen lassen e.V. <br>
        <a href="mailto:info@die-lernwerkstatt.org" aria-label="Schreib uns eine Email">info@die-lernwerkstatt.org</a>
        <br>
        Karl-Kunger-Str. 55 <br>
        12435 Berlin <br>
        <a href="tel:+4917687840154" aria-label="Ruf uns an">+49 176 87840154</a>
      </address>
      <h2 class="mt-4">{{{__ "contactmap_subtitle"}}}</h2>
      <p>
        {{{__ "contactmap_text"}}}
      </p>
      <div class="w-100 mb-4" id="mapid"></div>
    </div>
    <form action="/contact" id="contact-form" method="post" role="form" class="col-sm-4 mb-4">
      <h2>{{{__ "contact_subtitle"}}}</h2>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control form-control-sm" id="name" name="name"
              placeholder="{{{__ "common_name"}}}" aria-label="{{{__ "common_name"}}}" required>
          </div>
          <div class="col">
            <input type="email" class="form-control form-control-sm" id="email" name="email"
              aria-describedby="emailHelp" placeholder="{{{__ "common_email"}}}" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <textarea type="text" class="form-control form-control-sm" id="message" name="message" rows="10"
          placeholder="{{{__ "common_letter"}}}" aria-label="{{{__ "common_letter"}}}" required></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="verification">{{{__ "contact_verify"}}}</label>
        <input type="text" class="form-control form-control-sm" id="verification" name="verification"
          placeholder="{{{__ "contact_verification"}}}">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="contact-check" required>
        <label class="form-check-label" for="contact-check">
          {{{__ "contact_policy"}}}
        </label>
      </div>
      <button id="submit-button" type="submit" class="btn btn-secondary mt-2">{{{__ "common_submit"}}}</button>
    </form>
  </div>
</div>

{{#each agreements}}
{{> terms/modal this}}
{{/each}}

<link rel="stylesheet" href="https://unpkg.com/leaflet@^1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@^1/dist/leaflet.js"></script>
<script src="js/map.js"></script>
