{{#section "head"}}
<title>{{{__ "friends_title"}}} – {{{__ "common_title"}}}</title>
{{/section}}

{{#section "title"}}
<div class="container my-4">
  <div class="row">
    <div class="col border-bottom">
      <h1 class="h1">{{{__ "friends_title"}}}</h1>
    </div>
  </div>
</div>
{{/section}}

<div class="container">
  <h2 class="mb-3">{{{__ "friends_roomies"}}}</h2>
  <div class="card-columns mb-4 d-inline-block">
    {{#each organizations.roomies}}
    {{> friends/initiatives this}}
    {{/each}}
  </div>
  <h2 class="mb-3">{{{__ "friends_friends"}}}</h2>
  <div class="card-columns mb-3 d-inline-block">
    {{#each organizations.friends}}
    {{> friends/initiatives this}}
    {{/each}}
  </div>
</div>
