<div class="home-bg">
  <div class="jumbotron-fluid">
    <div class="container py-2">
      <div class="row">
        <div class="col-sm-8">
          <h1 class="home-logo">
            <img class="home-logo-img" src="/img/home/fulllogo.png">
          </h1>
          <p class="home-subtitle">
            Die Lernwerkstatt ist ein altersübergreifender Lernort für Lernende
            in, außerhalb oder neben der Schule.
          </p>
        </div>
        <div class="col-sm-4">
          <div class="card bg-primary text-black overflow-hidden">
            <p class="card-header text-center">
              Kalender
            </p>
            <ul class="list-group list-group-flush overflow-auto calendar-list">
              {{#each calendar}}
              {{> home/event this}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-2 mb-3">
      <div class="col-sm-12">
        <div class="card-deck text-center">
          <div class="card easy cursor-pointer">
            <div class="card-body">
              <h3 class="card-title">{{card.[0].title}}</h3>
              <p class="card-text">
                {{card.[0].text}}
              </p>
            </div>
          </div>
          <div class="card easy cursor-pointer">
            <div class="card-body">
              <h3 class="card-title">{{card.[1].title}}</h3>
              <p class="card-text text-info">
                {{calendar.[7].name}}
              </p>
              <p class="card-text">
                {{calendar.[7].date}} -
                {{calendar.[7].time}}
              </p>
            </div>
          </div>
          <div class="card easy cursor-pointer">
            <div class="card-body">
              <h3 class="card-title">{{card.[2].title}}</h3>
              <p class="card-text text-info">
                {{card.[2].date}} -
                {{card.[2].author}}
              </p>
              <p class="card-text">
                {{card.[2].blogtitle}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
