{{#section "head"}}
<title>{{{__ "subscribe_title"}}} – {{{__ "common_title"}}}</title>
{{/section}}

{{#section "title"}}
<div class="container my-4">
  <div class="row">
    <div class="col border-bottom">
      <h1 class="h1">{{{__ "subscribe_title"}}}</h1>
    </div>
  </div>
</div>
{{/section}}

<div class="container pb-4 mb-4">
  <div class="row pb-4">
    <div class="col">
      <div class="mb-3">
        {{{__ "subscribe_text"}}}
        <script language="javascript"
          src="//die-lernwerkstatt.us10.list-manage.com/generate-js/?u=63598878eb7adee616350bca7&fid=16745&show=3"
          type="text/javascript"></script>
      </div>
      <p>
        {{{__ "subscribe_archive"}}}
      </p>
      {{> subscribe/mailchimp }}
    </div>
  </div>
</div>
