{{#section "head"}}
<title>{{{__ "values_title"}}} – {{{__ "common_title"}}}</title>
{{/section}}

{{#section "title"}}
<div class="container my-4">
  <div class="row">
    <div class="col border-bottom">
      <h1 class="h1">{{{__ "values_title"}}}</h1>
    </div>
  </div>
</div>
{{/section}}

<div class="container">
  <div class="card-columns">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{{__ 'values1_title'}}}</h3>
        <img class="mx-auto d-block" src="img/values/selfdetermined.png" alt="{{{__ 'values1_title'}}}" />
        <p class="card-text mb-5">{{{__ 'values1_description'}}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{{__ 'values2_title'}}}</h3>
        <img class="mx-auto d-block" src="img/values/collaborative.png" alt="{{{__ 'values2_title'}}}" />
        <p class="card-text mb-5">{{{__ 'values2_description'}}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{{__ 'values3_title'}}}</h3>
        <img class="mx-auto d-block" src="img/values/creative.png" alt="{{{__ 'values3_title'}}}" />
        <p class="card-text mb-5">{{{__ 'values3_description'}}}</p>
      </div>
    </div>
  </div>
</div>
