<div class="card mb-3 easy cursor-pointer position-relative border-0">
  <a href="#" data-toggle="modal" data-target="#{{id}}"
    class="home-card card-body d-flex flex-column align-items-center justify-content-end text-decoration-none"
    style="background-image: url({{image}}); background-position: center; background-size: cover">
    <h3 class="d-inline-block p-2 text-dark bg-light">{{title}}</h3>
    <p class="d-inline-block p-2 text-dark bg-light">{{text}}</p>
    <span class="home-card-badge badge badge-light position-absolute">{{badge}}</span>
  </a>
</div>
