<div class="card mb-3 easy cursor-pointer position-relative">
  <a href="{{link}}"
    class="home-card card-body d-flex flex-column align-items-center justify-content-end text-decoration-none"
    style="background-image: url({{image}}); background-position: center; background-size: cover">
    <p class="h3 d-inline-block p-2 text-dark bg-light">{{title}}</p>
    <p class="h6 d-inline-block p-2 text-dark bg-light">{{{text}}}</p>
    <span class="home-card-badge badge badge-light position-absolute">{{badge}}</span>
  </a>
</div>
