<li class="list-group-item">
  <div class="media">
    <img class="align-self-center mr-2" alt="{{{__ "common_day"}}}" src="{{ dayicon }}" />
    <div class="media-body">
      <a class="d-block lh-sm lead" href="#" data-toggle="modal" data-target="#{{ tag }}">
        {{ name }}
      </a>
      <small class="text-muted mb-0">{{ date }} {{{__ "common_hour"}}}</small>
    </div>
  </div>
</li>
