<li class="list-group-item">
  <a href="#" data-toggle="modal" data-target="#{{id}}">
    <p class="lead mb-0">
      <img src="{{ dayicon }}" />
      {{ name }}
    </p>
  </a>
  <small class="text-muted">{{ date }} - {{ time }}</small>
  {{> home/modal this}}
</li>
