<div class="modal fade" id="{{ tag }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <button type="button" class="close mt-n4 d-sm-none" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <a href="{{link}}" target="_blank">
            <img class="mw-100 pt-2" src="{{cover.source}}" alt="{{name}}" />
          </a>
        </div>
      </div>
      <div class="modal-body text-dark">
        <h4 class="mb-3">
          {{ name }}
        </h4>
        <p>
          {{ date }} Uhr
        </p>
        <p>
          {{{ htmlDescription }}}
        </p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary buttonlink" href="{{ link }}" target="_blank">
          Mehr Infos auf Facebook
        </a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>
