<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ name }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="{{ id }}">
          {{ name }}
        </h5>
      </div>
      <div class="modal-body text-dark">
        <p>
          {{ date }} Uhr
        </p>
        <p>
          {{ description }}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" href="{{ link }}" target="_blank">
          Mehr Infos auf Facebook</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
      </div>
    </div>
  </div>
</div>
