<footer class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="nav flex-column flex-sm-row">
          <li class="nav-item">
            <a href="/support" class="nav-link text-dark">{{{__ 'footer_support'}}}</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link text-dark">{{{__ 'footer_contact'}}}</a>
          </li>
          <li class="nav-item">
            <a href="/subscribe" class="nav-link text-dark">{{{__ 'footer_subscribe' }}}</a>
          </li>
          <li class="nav-item">
            <a href="/partners" class="nav-link text-dark">{{{__ 'footer_partners' }}}</a>
          </li>
          <li class="nav-item">
            <a href="/friends" class="nav-link text-dark">{{{__ 'footer_friends' }}}</a>
          </li>
          <li class="nav-item">
            <a href="/openki" class="nav-link text-dark">{{{__ 'footer_openki' }}}</a>
          </li>
          <li class="nav-item">
            <a href="/imprint" class="nav-link text-dark">{{{__ 'footer_imprint' }}}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a href="https://www.facebook.com/dielernwerkstatt/" aria-label="Unsere Facebook Seite"
              class="nav-link text-dark">
              <span class="fab fa-facebook"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.instagram.com/die_lernwerkstatt" aria-label="Unser Instagram Feed"
              class="nav-link text-dark">
              <span class="fab fa-instagram"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="mailto:info@die-lernwerkstatt.org" aria-label="Schreib uns eine Email" class="nav-link text-dark">
              <span class="far fa-envelope"></span>
            </a>
          </li>
          <li class="nav-item">
            <span class="nav-link text-dark disabled">|</span>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark {{{__ 'active_de'}}}" href="/de">DE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark {{{__ 'active_en'}}}" href="/en">EN</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
