<footer>
  <nav class="navbar sticky-bottom navbar-expand-lg navbar-light bg-secondary">
    <div class="container my-n1">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_footer"
        aria-controls="navbar" aria-expanded="false" aria-label="{{{__ 'header_toggle'}}}">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar_footer">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="/support" class="nav-link text-light">{{{__ 'footer_support'}}}</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link text-light">{{{__ 'footer_contact'}}}</a>
          </li>
          <li class="nav-item">
            <a href="/subscribe" class="nav-link text-light">{{{__ 'footer_subscribe' }}}</a>
          </li>
          <li class="nav-item">
            <a href="/partners" class="nav-link text-light">{{{__ 'footer_partners' }}}</a>
          </li>
          <li class="nav-item">
            <a href="/friends" class="nav-link text-light">{{{__ 'footer_friends' }}}</a>
          </li>
          <li class="nav-item">
            <a href="/imprint" class="nav-link text-light">{{{__ 'footer_imprint' }}}</a>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a href="https://www.facebook.com/dielernwerkstatt/" aria-label="Unsere Facebook Seite"
              class="nav-link text-light">
              <span class="fab fa-facebook"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.instagram.com/die_lernwerkstatt" aria-label="Unser Instagram Feed"
              class="nav-link text-light">
              <span class="fab fa-instagram"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="mailto:info@die-lernwerkstatt.org" aria-label="Schreib uns eine Email" class="nav-link text-light">
              <span class="far fa-envelope"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
