<header>
  <nav class="navbar fixed-top navbar-expand-lg bg-primary">
    <div class="container">
      <a class="navbar-brand header-logo" href="/">
        <img height="24" alt="Logo" src="/img/navbar_logo.png" />{{{__ 'common_title'}}}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="{{{__ 'header_toggle'}}}">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/values">{{{__ 'header_values'}}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/projects">{{{__ 'header_projects'}}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/blogs">{{{__ 'header_blogs'}}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/team">{{{__ 'header_team'}}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/gallery">{{{__ 'header_gallery'}}}</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="https://duckduckgo.com/" target="_blank"
          aria-label="Durchsuche unsere Seite">
          <div class="form-inline">
            <input type="hidden" value="https://die-lernwerkstatt.org/" name="sites">
            <input type="hidden" value="1" name="kh">
            <input type="hidden" value="1" name="kn">
            <input type="hidden" value="1" name="kac">
            <input type="search" class="form-control mr-sm-2" placeholder="{{{__ 'header_search'}}}" name="q">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group ml-2">
            <a class="btn btn-sm btn-info text-dark {{{__ 'active_de'}}}" href="/de">DE</a>
            <a class="btn btn-sm btn-info text-dark {{{__ 'active_en'}}}" href="/en">EN</a>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
