<!DOCTYPE html>
<html lang="de">

<head>
  {{{_sections.head}}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Mit der Lernwerkstatt schaffen wir einen Raum, in dem Lernen gemeinschaftlich, kreativ und selbstbestimmt statt findet.">
  <meta property="og:title" content="Die Lernwerkstatt">
  <meta property="og:description"
    content="Mit der Lernwerkstatt schaffen wir einen Raum, in dem Lernen gemeinschaftlich, kreativ und selbstbestimmt statt findet.">
  <meta property="og:image" content="/img/social.jpg">
  <meta property="og:locale" content="de_DE">
  <meta property="og:url" content="https://die-lernwerkstatt.org">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="2233419873654139">

  <link rel="dns-prefetch" href="https://s3.amazonaws.com">
  <link rel="dns-prefetch" href="https://unpkg.com">
  <link rel="preconnect" href="https://unpkg.com" crossorigin>

  <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@5.13.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{> main/header}}

  <main>
    {{{_sections.title}}}
    {{{body}}}
  </main>

  {{> main/footer}}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
  <script>
    window.cookieconsent.initialise({
      container: document.getElementById("cookieconsent"),
      position: "top",
      theme: "classic",
      type: "opt-in",
      secure: true,
      revokable: true,
      onStatusChange: function (status) {
        console.log(this.hasConsented() ?
        'enable cookies' : 'disable cookies');
      },
      palette: {
        popup: { background: "#ef7479" },
        button: { background: "#e0e0e0" },
      },
      content: {
        "message": "{{{__ "cookie_message"}}}",
        "link": "{{{__ "cookie_link"}}}",
        "dismiss": "{{{__ "cookie_dismiss"}}}",
        "allow": "{{{__ "cookie_allow"}}}",
        "deny": "{{{__ "cookie_deny"}}}",
      }
    });
  </script>
</body>

</html>
