<div class="d-inline-block mr-3 pb-3 cursor-pointer" data-toggle="collapse" data-target="#{{id}}">
  <img src={{img}} alt={{name}} class="img-fluid rounded-circle" style="height: 160px; width: 160px;">
  <p class="lead">{{name}}</p>
</div>
<div id="{{id}}" class="collapse" data-parent="#team">
  <div class="card-body mt-n5 mb-2">
    {{description}}
  </div>
</div>
